.master-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.big-title{
    font-size: 45px;
}

.container{
    width: 100%;
    max-width: 1024px;  
    padding-inline: 10px;
}

.contact-container{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 1fr 1fr;
    gap: 0;
}

.section{
    height: 100vh;
}

@media screen and (min-width: 768px) {
    .container{
        padding-inline: 0;
    }
    .contact-container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1em;
    }
    
}

@media screen and (min-width: 1024px) {
    .contact-container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2em;
    }
}



