input[type=text]{
    padding: 10px;
    box-sizing: border-box;
    border-radius: 0;
    outline: none;

    border: 2px solid var(--dark);
    width: 100%;
}

input[type=email]{
    padding: 10px;
    box-sizing: border-box;
    border-radius: 0;
    outline: none;

    border: 2px solid var(--dark);
    width: 100%;
}

textarea{
    padding: 10px;
    box-sizing: border-box;
    border-radius: 0;
    outline: none;

    border: 2px solid var(--dark);
    width: 100%;

    resize: vertical;
}