header{
    position: sticky;
    top: 0;
}

.nav-container{
    padding-inline: 10px;
    position: relative;
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center; 
    background-color: var(--light);
    background-color: red;
}

.burger-button:hover{
    color: var(--primary);
}

#burger-icon{
    transition: 1s all;
}

@media screen and (min-width: 768px) {
    .nav-container{
        padding-inline: 2em;
    }
}

@media screen and (min-width: 1024px) {
    .nav-container{
        padding-inline: 4em;
    }
}